#testNumPanelContainer {
  --testBlock-width: 200px;
  --testNumPanelCell-gap: 4px;
  --markCell-gap: 3px;
  /* --cell-gap: 2px; */

  width: var(--testBlock-width);
  min-width: var(--testBlock-width);
  height: var(--testBlock-width);
  min-height: var(--testBlock-width);

  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 9fr;
  grid-template-rows: 9fr 1fr;

  grid-gap: var(--testNumPanelCell-gap);

  /* padding: 0;
  margin: 0; */
}

#testNumPanelContainer #testNumPanelWrapper {
  box-sizing: border-box;

  display: grid;
  grid-template-rows: 3fr;
  align-items: stretch;

  /* padding: 0;
  margin: 0; */

  background: rgb(84, 129, 252);
}

.markWrapperRow {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: stretch;
  grid-gap: var(--testNumPanelCell-gap);

  /* padding: 0;
  margin: 0; */
}

.markRow {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: stretch;
  grid-gap: var(--markCell-gap);
}

.markWrapperCol {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: stretch;
  grid-gap: var(--testNumPanelCell-gap);

  /* padding: 0;
    margin: 0; */
}

.markCol {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: stretch;
  grid-gap: var(--markCell-gap);
  /* grid-gap: 5px; */
}

.markRow,
.markCol {
  box-sizing: border-box;
  border: 1px solid black;
}

.markCell {
  background: white;

  font-size: 12px;
  font-weight: bold;

  /* grid-area: span 3 / span 3; */
  box-sizing: border-box;

  padding: 0;
  margin: 0;

  cursor: pointer;
}

#testNumPanelContainer #testNumPanel {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  grid-gap: var(--testNumPanelCell-gap);
  /* grid-gap: 10px; */

  /* padding: 0;
  margin: 0; */
}

#testNumPanelContainer #testNumPanel > .cell {
  display: inline-block;
  height: auto;
  /* height: 100%; */

  box-sizing: border-box;
  text-align: center;
  /* line-height: var(--numPanelCell-inHeight); */
  /* line-height: var(--cell-width); */

  /* font-size: 20px; */
  font-size: var(--font-size);

  /* background: rgb(208, 255, 0); */
  /* background: rgb(255, 108, 49); */
  background: white;

  /* border: 1px solid black; */
  border: var(--numPanelCellBorder-thick) solid black;

  /* padding: 0;
  margin: 0; */

  cursor: pointer;
}
