* {
  --subcell-border-width: 1px;
  --stroke-width: 2px;
}

.subCell {
  border-width: var(--subcell-border-width);
}

#sudokuBoard .subBlock > .subCell {
  font-size: 8px;
  font-weight: bold;
  background: white;

  box-sizing: border-box;
  border: var(--subcell-border-width) solid darkgray;
}
