* {
  --subcell-border-width: 2px;
  --marker-border-width: 1px;
  --stroke-width: 2px;

  --num0-color: black;
  --num1-color: brown;
  --num2-color: crimson;
  --num3-color: violet;
  --num4-color: goldenRod;
  --num5-color: yellowgreen;
  --num6-color: teal;
  --num7-color: darkSlateGray;
  --num8-color: blue;
  --num9-color: navy;
  --num10-color: gray;

  box-sizing: border-box;
}

.num0 {
  /* color: black; */
  color: var(--num0-color);
}

.num1 {
  color: var(--num1-color);
}

.num2 {
  color: var(--num2-color);
}

.num3 {
  color: var(--num3-color);
}

.num4 {
  color: var(--num4-color);
}

.num5 {
  color: var(--num5-color);
}

.num6 {
  color: var(--num6-color);
}

.num7 {
  color: var(--num7-color);
}

.num8 {
  color: var(--num8-color);
}

.num9 {
  color: var(--num9-color);
}

.num10 {
  color: var(--num10-color);
}

.selected1 {
  font-weight: bold;
  -moz-text-fill-color: lightgrey;
  -webkit-text-fill-color: lightgrey;
  -moz-text-stroke-color: var(--num1-color);
  -webkit-text-stroke-color: var(--num1-color);

  -moz-text-stroke-width: var(--stroke-width);
  -webkit-text-stroke-width: var(--stroke-width);
}

.selected1.registered {
  -moz-text-fill-color: var(--num1-color);
  -webkit-text-fill-color: var(--num1-color);
  -moz-text-stroke-color: dimgrey;
  -webkit-text-stroke-color: dimgrey;
  -moz-text-stroke-width: var(--stroke-width);
  -webkit-text-stroke-width: var(--stroke-width);
}

.selected2 {
  font-weight: bold;
  -moz-text-fill-color: lightgrey;
  -webkit-text-fill-color: lightgrey;
  -moz-text-stroke-color: var(--num2-color);
  -webkit-text-stroke-color: var(--num2-color);
  -moz-text-stroke-width: var(--stroke-width);
  -webkit-text-stroke-width: var(--stroke-width);
}

.selected2.registered {
  -moz-text-fill-color: var(--num2-color);
  -webkit-text-fill-color: var(--num2-color);
  -moz-text-stroke-color: dimgrey;
  -webkit-text-stroke-color: dimgrey;
  -moz-text-stroke-width: var(--stroke-width);
  -webkit-text-stroke-width: var(--stroke-width);
}

.selected3 {
  font-weight: bold;
  -moz-text-fill-color: lightgrey;
  -webkit-text-fill-color: lightgrey;
  -moz-text-stroke-color: var(--num3-color);
  -webkit-text-stroke-color: var(--num3-color);
  -moz-text-stroke-width: var(--stroke-width);
  -webkit-text-stroke-width: var(--stroke-width);
}

.selected3.registered {
  -moz-text-fill-color: var(--num3-color);
  -webkit-text-fill-color: var(--num3-color);
  -moz-text-stroke-color: dimgrey;
  -webkit-text-stroke-color: dimgrey;
  -moz-text-stroke-width: var(--stroke-width);
  -webkit-text-stroke-width: var(--stroke-width);
}

.selected4 {
  font-weight: bold;
  -moz-text-fill-color: lightgrey;
  -webkit-text-fill-color: lightgrey;
  -moz-text-stroke-color: var(--num4-color);
  -webkit-text-stroke-color: var(--num4-color);
  -moz-text-stroke-width: var(--stroke-width);
  -webkit-text-stroke-width: var(--stroke-width);
}

.selected4.registered {
  -moz-text-fill-color: var(--num4-color);
  -webkit-text-fill-color: var(--num4-color);
  -moz-text-stroke-color: dimgrey;
  -webkit-text-stroke-color: dimgrey;
  -moz-text-stroke-width: var(--stroke-width);
  -webkit-text-stroke-width: var(--stroke-width);
}

.selected5 {
  font-weight: bold;
  -moz-text-fill-color: lightgrey;
  -webkit-text-fill-color: lightgrey;
  -moz-text-stroke-color: var(--num5-color);
  -webkit-text-stroke-color: var(--num5-color);
  -moz-text-stroke-width: var(--stroke-width);
  -webkit-text-stroke-width: var(--stroke-width);
}

.selected5.registered {
  -moz-text-fill-color: var(--num5-color);
  -webkit-text-fill-color: var(--num5-color);
  -moz-text-stroke-color: dimgrey;
  -webkit-text-stroke-color: dimgrey;
  -moz-text-stroke-width: var(--stroke-width);
  -webkit-text-stroke-width: var(--stroke-width);
}

.selected6 {
  font-weight: bold;
  -moz-text-fill-color: lightgrey;
  -webkit-text-fill-color: lightgrey;
  -moz-text-stroke-color: var(--num6-color);
  -webkit-text-stroke-color: var(--num6-color);
  -moz-text-stroke-width: var(--stroke-width);
  -webkit-text-stroke-width: var(--stroke-width);
}

.selected6.registered {
  -moz-text-fill-color: var(--num6-color);
  -webkit-text-fill-color: var(--num6-color);
  -moz-text-stroke-color: dimgrey;
  -webkit-text-stroke-color: dimgrey;
  -moz-text-stroke-width: var(--stroke-width);
  -webkit-text-stroke-width: var(--stroke-width);
}

.selected7 {
  font-weight: bold;
  -moz-text-fill-color: lightgrey;
  -webkit-text-fill-color: lightgrey;
  -moz-text-stroke-color: var(--num7-color);
  -webkit-text-stroke-color: var(--num7-color);
  -moz-text-stroke-width: var(--stroke-width);
  -webkit-text-stroke-width: var(--stroke-width);
}

.selected7.registered {
  -moz-text-fill-color: var(--num7-color);
  -webkit-text-fill-color: var(--num7-color);
  -moz-text-stroke-color: dimgrey;
  -webkit-text-stroke-color: dimgrey;
  -moz-text-stroke-width: var(--stroke-width);
  -webkit-text-stroke-width: var(--stroke-width);
}

.selected8 {
  font-weight: bold;
  -moz-text-fill-color: lightgrey;
  -webkit-text-fill-color: lightgrey;
  -moz-text-stroke-color: var(--num8-color);
  -webkit-text-stroke-color: var(--num8-color);
  -moz-text-stroke-width: var(--stroke-width);
  -webkit-text-stroke-width: var(--stroke-width);
}

.selected8.registered {
  -moz-text-fill-color: var(--num8-color);
  -webkit-text-fill-color: var(--num8-color);
  -moz-text-stroke-color: dimgrey;
  -webkit-text-stroke-color: dimgrey;
  -moz-text-stroke-width: var(--stroke-width);
  -webkit-text-stroke-width: var(--stroke-width);
}

.selected9 {
  font-weight: bold;
  -moz-text-fill-color: lightgrey;
  -webkit-text-fill-color: lightgrey;
  -moz-text-stroke-color: var(--num9-color);
  -webkit-text-stroke-color: var(--num9-color);
  -moz-text-stroke-width: var(--stroke-width);
  -webkit-text-stroke-width: var(--stroke-width);
}

.selected9.registered {
  -moz-text-fill-color: var(--num9-color);
  -webkit-text-fill-color: var(--num9-color);
  -moz-text-stroke-color: dimgrey;
  -webkit-text-stroke-color: dimgrey;
  -moz-text-stroke-width: var(--stroke-width);
  -webkit-text-stroke-width: var(--stroke-width);
}

#sudokuBoard .block > .inhibited0 {
  background: lightgrey;
}

#sudokuBoard .block .selectable1 {
  background: tomato;
}

#sudokuBoard .block .selectable2 {
  background: orange;
}

#sudokuBoard .block .selectable3 {
  background: gold;
}

#sudokuBoard .block .selectable4 {
  background: lightgreen;
}

#sudokuBoard .block .selectable5 {
  background: limegreen;
}

#sudokuBoard .block .selectable6 {
  background: lightSkyBlue;
}

#sudokuBoard .block .selectable7 {
  background: RebeccaPurple;
}

#sudokuBoard .block .selectable8 {
  background: Thistle;
}

#sudokuBoard .block .selectable9 {
  background: Tan;
}

#sudokuBoard .block .shadowed,
#sudokuBoard .block .shadowed1,
#sudokuBoard .block .shadowed2,
#sudokuBoard .block .shadowed3,
#sudokuBoard .block .shadowed4,
#sudokuBoard .block .shadowed5,
#sudokuBoard .block .shadowed6,
#sudokuBoard .block .shadowed7,
#sudokuBoard .block .shadowed8,
#sudokuBoard .block .shadowed9,
#sudokuBoard .cellContainer .subBlock > .shadowed,
#sudokuBoard .cellContainer .subBlock > .removed {
  background: #999;
  color: #aaa;
}

#sudokuBoard .block .inhibited,
#sudokuBoard .block .inhibited1,
#sudokuBoard .block .inhibited2,
#sudokuBoard .block .inhibited3,
#sudokuBoard .block .inhibited4,
#sudokuBoard .block .inhibited5,
#sudokuBoard .block .inhibited6,
#sudokuBoard .block .inhibited7,
#sudokuBoard .block .inhibited8,
#sudokuBoard .block .inhibited9 {
  background: #bbb;
}

#sudokuBoard .block > .selectable {
  background: lightpink;
}

#sudokuBoard .cellContainer .smallCell.selectable {
  background: lightpink;
}

#sudokuBoard .cellContainer .subBlock > .smallCell.inhibited1,
#sudokuBoard .cellContainer .subBlock > .smallCell.inhibited2,
#sudokuBoard .cellContainer .subBlock > .smallCell.inhibited3,
#sudokuBoard .cellContainer .subBlock > .smallCell.inhibited4,
#sudokuBoard .cellContainer .subBlock > .smallCell.inhibited5,
#sudokuBoard .cellContainer .subBlock > .smallCell.inhibited6,
#sudokuBoard .cellContainer .subBlock > .smallCell.inhibited7,
#sudokuBoard .cellContainer .subBlock > .smallCell.inhibited8,
#sudokuBoard .cellContainer .subBlock > .smallCell.inhibited9 {
  background: #bbb;
}

#sudokuBoard .cellContainer .subBlock .subCell {
  box-sizing: border-box;
}

#sudokuBoard .cellContainer .subBlock > .selectable {
  border: var(--subcell-border-width) solid magenta;
}

.markCell.selectable {
  border: var(--marker-border-width) solid magenta;
  box-sizing: border-box;
}

#sudokuBoard .cellContainer .subBlock > .exclusiveSingleCandidate {
  border: var(--subcell-border-width) solid darkgreen;
}

.markCell.exclusiveSingleCandidate {
  border: var(--subcell-border-width) solid darkgreen;
  box-sizing: border-box;
}

#sudokuBoard .cellContainer .subBlock > .exclusiveDoubleCandidate {
  border: var(--subcell-border-width) solid springgreen;
}

.markCell.exclusiveDoubleCandidate {
  border: var(--marker-border-width) solid springgreen;
  box-sizing: border-box;
}

#sudokuBoard .cellContainer .subBlock > .exclusiveTripleCandidate {
  border: var(--subcell-border-width) solid skyblue;
}

.markCell.exclusiveTripleCandidate {
  border: var(--marker-border-width) solid skyblue;
  box-sizing: border-box;
}

#sudokuBoard .cellContainer .subBlock > .exclusiveQuadrupleCandidate {
  border: var(--subcell-border-width) solid indigo;
}

#sudokuBoard .cellContainer .subBlock > .exclusiveSquareCandidate {
  border: var(--subcell-border-width) solid brown;
}

#sudokuBoard .cellContainer .subBlock > .assumptionTest {
  border: var(--subcell-border-width) solid yellow;
}

#sudokuBoard .cellContainer .subBlock > .removable {
  background: #777;
  border: var(--subcell-border-width) solid black;
}

#sudokuBoard .cellContainer .subBlock > .weaklyShadowed {
  background: lightgray;
}

#sudokuBoard .registered {
  font-weight: 800;
}

#sudokuBoard .block > .duplicated {
  background: #666;
}

.indicator0 {
  background: var(--num0-color);
}

.indicator1 {
  background: var(--num1-color);
}

.indicator2 {
  background: var(--num2-color);
}

.indicator3 {
  background: var(--num3-color);
}

.indicator4 {
  background: var(--num4-color);
}

.indicator5 {
  background: var(--num5-color);
}

.indicator6 {
  background: var(--num6-color);
}

.indicator7 {
  background: var(--num7-color);
}

.indicator8 {
  background: var(--num8-color);
}

.indicator9 {
  background: var(--num9-color);
}

.indicator10 {
  background: var(--num10-color);
}
