* {
  --container-height: 640px;
  --controlButtonHeight: 36px;
  --controlPanelTitleHeight: 36px;

  /* --num0-color: black;
  --num1-color: brown;
  --num2-color: crimson;
  --num3-color: violet;
  --num4-color: goldenRod;
  --num5-color: yellowgreen;
  --num6-color: teal;
  --num7-color: darkSlateGray;
  --num8-color: blue;
  --num9-color: navy;
  --num10-color: gray; */
}

#controlPanel {
  --controlButtonWidth: 160px;
}

#helperPanel {
  --helperButtonWidth: 200px;
}

.controlPanel {
  height: var(--container-height);
  min-height: var(--container-height);

  display: flex;
  flex-flow: column;

  padding: 5px 0;

  color: white;
  border: 1px solid darkgray;
  background: slategray;
}

.controlPanel > h2 {
  height: var(--controlPanelTitleHeight);
  line-height: var(--controlPanelTitleHeight);
  text-align: bottom;
  padding-bottom: 3px;
}

#controlPanel .controlButton {
  width: var(--controlButtonWidth);
}

#helperPanel .controlButton {
  width: var(--helperButtonWidth);
}

.controlButton {
  height: var(--controlButtonHeight);
  min-height: var(--controlButtonHeight);

  color: black;
  background: white;
  border: 2px solid #333;
  margin: 4px 5px;
  padding: 5px 10px;

  /* font-size: 18px; */
  font-size: 17px;

  cursor: pointer;
}

.controlButton:disabled,
.inaccessible,
.inaccessible h3 {
  color: #999;
  border-color: #999;
}

#helperPanel .active,
#controlPanel .active {
  background: lightpink;
}

#helperPanel .waiting {
  background: PaleTurquoise;
}

#multipleNums,
#singleNumWrapper {
  padding: 3px 5px;
  border-color: black;
  border-width: 1px 0;
  border-style: solid;
}

.controlButtonWrapper {
  height: auto;
  padding: 0;
}

.controlButtonWrapper h3 {
  width: 100%;
  height: var(--controlButtonHeight);
  line-height: var(--controlButtonHeight);
  vertical-align: middle;
  text-align: middle;

  font-size: 18px;
  font-weight: normal;
  padding: 0;
  border-bottom: 1px solid #333;
}

.radioWrapper {
  height: auto;
  display: flex;
  align-content: stretch;
  padding: 0 5px;
}

.checkBoxWrapper {
  height: auto;
  display: flex;
  align-content: stretch;
  padding: 0 5px;
}

.candidateButtonWrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
  padding: 5px 5px;
}

#checkWrapper,
#helpModeWrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#checkWrapper .sampleGameButton,
#helpModeWrapper .sampleGameButton {
  width: 100%;
  height: 30px;
  font-size: 14px;
  margin: 0;
  padding: 0;
  border-width: 1px;
  border-style: solid;
  /* border-radius: 0%; */
}

#multipleNums label,
#singleNumWrapper label,
#candidateWrapper label {
  width: 100%;
  padding: 3px 0;
}

#multipleNums .allDone,
#singleNumWrapper .allDone {
  background: gray;
}

#multipleNums .exceeding,
#singleNumWrapper .exceeding {
  background: red;
}

#controlLabelSkipIneffective {
  display: inline-block;
  width: 100%;
  height: 44px;
  text-align: left;
  padding: 3px 5px 3px 5px;
  font-size: 13px;
}

#controlLabelSkipIneffective > input {
  margin-right: 5px;
}

.sampleGameWrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
  padding: 5px 5px;
}

.sampleGameInnerWrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 5px;
  align-content: start;
}

.candidateButtonWrapper .sampleGameButton,
.sampleGameWrapper .sampleGameButton {
  width: 100%;
  height: 25px;
  font-size: 15px;
  margin: 0;
  border-radius: 0;
}

#helperLableWrapper {
  display: grid;
  grid-template-columns: 8fr 1fr;

  margin: 4px 5px;
}

#indicator {
  height: 10px;
  width: 10px;
  /* background-color: #bbb; */
  border-radius: 50%;
  display: inline-block;
  /* background: blue; */
}

#indicatorWrapper {
  /* width: 50px; */
  width: 20px;
  border-radius: 5px;
  padding: 5px;
  /* display: flex;
  justify-content: space-around; */
  background: lightgray;
}

/* .indicator0 {
  background: var(--num0-color);
}

.indicator1 {
  background: var(--num1-color);
}

.indicator2 {
  background: var(--num2-color);
}

.indicator3 {
  background: var(--num3-color);
}

.indicator4 {
  background: var(--num4-color);
}

.indicator5 {
  background: var(--num5-color);
}

#indicator.indicator6 {
  background: var(--num6-color);
}

.indicator7 {
  background: var(--num7-color);
}

.indicator8 {
  background: var(--num8-color);
}

.indicator9 {
  background: var(--num9-color);
}

.indicator10 {
  background: var(--num10-color);
} */
