* {
  --numPanel-width: 90px;
  --numPanel-height: calc(var(--numPanel-width) * 5 / 3);

  --numPanel-padding: 2px;

  --numPanelBlock-width: calc(
    var(--numPanel-width) - var(--numPanel-padding) * 2
  );
  --numPanelBlock-height: var(--numPanelBlock-width);

  --numPanelCell-gap: 2px;
  --numPanelCellBorder-thick: 1px;

  --numPanelCell-width: calc(
    (var(--numPanelBlock-width) - var(--numPanelCell-gap) * 2) / 3
  );
  --numPanelCell-height: calc(
    (var(--numPanelBlock-height) - var(--numPanelCell-gap) * 2) / 3
  );
  --numPanelCell-inHeight: calc(
    var(--numPanelCell-height) - var(--numPanelCellBorder-thick) * 2
  );

  --block-gap: 3px;

  --font-size: 18px;
}

.float-wrap {
  height: var(--numPanel-height);

  position: absolute;
  top: 0;
  bottom: 0;

  pointer-events: none;
  display: none;

  margin: 0;
  padding: 0;
}

#numPanelContainer {
  box-sizing: border-box;
  width: var(--numPanel-width);
  min-width: var(--numPanel-width);
  height: var(--numPanel-height);

  display: grid;
  grid-template-rows: 3fr, 2fr;
  align-items: stretch;
  grid-gap: var(--block-gap);

  padding: 2px;

  background: rgb(84, 129, 252);
}

#numPanel {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  grid-gap: var(--numPanelCell-gap);
}

#numPanel > .cell {
  display: inline-block;
  height: auto;

  box-sizing: border-box;
  text-align: center;

  font-size: var(--font-size);

  background: white;

  border: var(--numPanelCellBorder-thick) solid black;

  cursor: pointer;
}

.cell > span {
  vertical-align: middle;
  padding: 0;
}

#numPanelControl {
  display: grid;
  grid-template-rows: 1fr 1fr;

  grid-gap: var(--numPanelCell-gap);
}

#cancel,
#delete {
  width: calc(var(--numPanel-width) - var(--numPanel-padding) * 2);

  box-sizing: border-box;

  text-align: center;
  font-size: calc(var(--font-size) - 2);

  background: white;
  border: var(--numPanelCellBorder-thick) solid black;
  cursor: pointer;
}

#messageWrap h1 {
  text-transform: capitalize;
}
