.App {
  --header-height: 70px;

  height: 100%;
  /* margin: 0;
  padding: 0; */

  /* display: grid;
  grid-template-rows: var(--header-height), auto; */

  display: flex;
  flex-flow: column;

  text-align: center;
  background-color: yellow;
}

.App-header {
  flex: 0 1 auto;

  /* margin: 0;
  padding: 0; */
  /* background-color: #282c34; */
  background: #666;
  /* min-height: 100vh;
  display: flex;
  flex-direction: column; */
  /* align-items: center;
  justify-content: center; */

  height: var(--header-height);
  line-height: var(--header-height);
  /* font-size: calc(10px + 2vmin); */
  font-size: 20px;
  color: white;
}

.App-main {
  flex: 1 1 auto;

  display: flex;

  /* background-color: lightgray; */
  background: slategray;
}

.App-footer {
  background: #666;
  font-size: 12px;
  color: white;
  padding: 3px 10px;
  text-align: left;
}

/* #sudokuBoard {
  --container-width: 450px;

  --container-padding: 10px;
  --block-gap: 5px;

  --block-width: calc(
    (
        var(--container-width) - var(--container-padding) * 2 - var(--block-gap) *
          2
      ) / 3
  );
  --block-height: var(--block-width);

  --cell-gap: 2px;
  --cell_border_thick: 1px;

  --cell-width: calc((var(--block-width) - var(--cell-gap) * 2) / 3);
  --cell-height: calc((var(--block-height) - var(--cell-gap) * 2) / 3);
  --cell-inHeight: calc(var(--cell-height) - var(--cell_border_thick) * 2);

  box-sizing: border-box;
  width: var(--container-width);

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: var(--block-gap);

  padding: var(--container-padding);

  background: rgb(250, 213, 93);
}

#sudokuBoard > .block {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: var(--cell-gap);
}

#sudokuBoard .cell {
  height: var(--cell-height);

  box-sizing: border-box;
  text-align: center;
  line-height: var(--cell-inHeight);

  font-size: 30px;
  background: white;
  border: var(--cell_border_thick) solid black;

  cursor: pointer;
}
*/

/* #numPanelContainer {
  --numPanel-width: 90px;

  --numPanel-padding: 2px;

  --numPanelBlock-width: calc(
    var(--numPanel-width) - var(--numPanel-padding) * 2
  );
  --numPanelBlock-height: var(--numPanelBlock-width);

  --numPanelCell-gap: 2px;
  --numPanelCellBorder-thick: 1px;

  --numPanelCell-width: calc(
    (var(--numPanelBlock-width) - var(--numPanelCell-gap) * 2) / 3
  );
  --numPanelCell-height: calc(
    (var(--numPanelBlock-height) - var(--numPanelCell-gap) * 2) / 3
  );
  --numPanelCell-inHeight: calc(
    var(--numPanelCell-height) - var(--numPanelCellBorder-thick) * 2
  );

  box-sizing: border-box;
  width: var(--numPanel-width);

  padding: var(--numPanel-padding);

  background: rgb(84, 129, 252);
}

#numPanel {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  grid-gap: var(--numPanelCell-gap);
}

#numPanel > .cell {
  box-sizing: border-box;
  text-align: center;
  line-height: var(--numPanelCell-inHeight);

  font-size: 20px;

  background: white;

  border: var(--numPanelCellBorder-thick) solid black;

  cursor: pointer;
} */
